*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: #E5E5E5;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.content__title {
  position: absolute;
  left: 10%;
  padding-top: 80px;
  font-size: 2.8rem;
  line-height: 65px;
  color: #001B36;
}
.card-title {
  height: 53px;
  left: 3.38%;
  right: 4.26%;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  text-transform: uppercase;
  color: #035A27;
}
.pt-card {
  padding-top: 180px;
  left: 3.38%;
}
.card-container {
  background: #ffffff;
  width: 869px;
  height: 520px;
}
@media (max-width: 600px) {
  .container{ 
    padding-left: 20px;
    padding-right: 20px;
  } 
  .content__title {
    left: 8%;
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .content__title {
    font-size: 2rem;
    padding-top: 80px;
  }
  .card-container {
    padding-left: 10%;   
  }
}
@media (max-width: 1024px) {
  .content__title {
    left: 12%; 
    padding-top: 80px;
  }
  .card-container{
    left: 12%;  
  }
}



